<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sweet cooking</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <h1>take a look at what i learned to cook , so yummy </h1>
    </nav>
    <img src="img/cookies1.jpg" alt="cookie" id="top">
    <img src="img/cookies2.jpg" alt="cookie">
    <img src="img/cookies3.jpg" alt="cookie">
    <img src="img/cookies4.jpg" alt="cookie">
    <!--
        you aRe the Only one that can see this, Be careful abOut whaT you See . 
        all TeXTs have meaning ...
    -->
</body>
</html>